@inherits BasicSelectBase
<p>
    已选择：@Value
</p>
<BSimpleSelect @bind-Value="Value">
    <BSimpleOption Value="1" Text="选项1"></BSimpleOption>
    <BSimpleOption Value="2" Text="选项2"></BSimpleOption>
</BSimpleSelect>