[submodule "demo"]
	path = demo
	url = https://github.com/Element-Blazor/element-blazor.github.io
	branch = main
[submodule "template"]
	path = template
	url = https://github.com/Element-Blazor/ElementBlazorTemplate
	branch = main
[submodule "community"]
	path = community
	url = https://github.com/Element-Blazor/BlazorCommunity
	branch = master
[submodule "blazor-element-plus-admin"]
	path = blazor-element-plus-admin
	url = https://github.com/Element-Blazor/blazor-element-plus-admin.git
