[submodule "demo"]
	path = demo
	url = https://github.com/Element-Blazor/element-blazor.github.io
	branch = main
[submodule "template"]
	path = template
	url = https://github.com/Element-Blazor/ElementBlazorTemplate
	branch = main
