@inherits BSimpleCheckBox<TValue>
@typeparam TValue
@{ 
    switch (Status)
    {
        case Status.UnChecked:
            _isChecked = string.Empty;
            _isIndeterminate = string.Empty;
            break;
        case Status.Checked:
            _isChecked = "is-checked";
            _isIndeterminate = string.Empty;
            break;
    }
}
<label role="checkbox" aria-checked="true" class="el-checkbox-button @_isChecked @isDisabled">
    <input type="checkbox" class="el-checkbox-button__original @isDisabled" @onchange="ChangeStatus" />
    <span class="el-checkbox-button__inner">@ChildContent</span>
</label>
