@inherits PageBase
@if (demos == null)
{
    @("拼命加载中...")
}
else
{
    foreach (var demo in demos)
    {
        <BCard>
            <Header>
                @demo.Title
            </Header>
            <Body>
                <BDynamicComponent Component="@demo.Demo"></BDynamicComponent>
            </Body>
        </BCard>
    }
    <style>
        .el-card {
            margin-bottom: 10px;
            margin-top: 10px;
        }
    </style>
}