@page "/"
@using Blazui.Component.Button
@addTagHelper *,Blazui.Component
<h1>Hello, world!</h1>

Welcome to your new app.

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
<BButton Theme="ButtonTheme.Danger">危险按钮</BButton>
<BButton Theme="ButtonTheme.Disabled">禁用按钮</BButton>