@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        <menu Mode="horizontal" DefaultActive="1" TextColor="#fff" BackgroundColor="#545c64" ActiveTextColor="#ffd04b">
            <MenuItem>菜单项一</MenuItem>
            <MenuItem Index="1">菜单项（默认选中）</MenuItem>
            <MenuItem>菜单项三</MenuItem>
        </menu>
        @Body
    </div>
</div>
