<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Blazui</a>
    <button class="navbar-toggler" onclick="@ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>
<style>
    .sidebar .el-menu {
        background-color:transparent;
    }
</style>
<Menu Mode="vertical" DefaultActive="0" TextColor="#fff" HoverColor="rgba(255,255,255,0.25)" ActiveTextColor="#ffd04b">
    <MenuItem Route="button" Index="0">Button</MenuItem>
    <MenuItem Route="checkbox">CheckBox</MenuItem>
    <MenuItem Route="tabs">Tabs</MenuItem>
    <MenuItem Route="switch">Switch</MenuItem>
    <MenuItem Route="radio">Radio</MenuItem>
    <MenuItem Route="dropdownlist">DropDownList</MenuItem>
    @*<SubMenu Label="TestSubMenu">
            <MenuItem Route="navmenu">Button</MenuItem>
            <MenuItem Route="tabs">Tabs</MenuItem>
        </SubMenu>*@
</Menu>

@functions {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
