<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Blazui</a>
    <button class="navbar-toggler" onclick="@ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>
<style>
    .sidebar .el-menu {
        background-color: transparent;
    }
</style>

<Menu Mode="vertical" DefaultActive="0" TextColor="#fff" HoverColor="rgba(255,255,255,0.25)" ActiveTextColor="#ffd04b">
    <MenuItem Route="">快速上手</MenuItem>
    <SubMenu Label="Basic">
        <MenuItem Route="button">Button 按钮</MenuItem>
    </SubMenu>
    <SubMenu Label="Form">
        <MenuItem Route="radio">Radio 单选框</MenuItem>
        <MenuItem Route="checkbox">Checkbox 多选框</MenuItem>
        <MenuItem Route="dropdownlist">Select 选择器</MenuItem>
    </SubMenu>
    <SubMenu Label="Navigation">
        <MenuItem Route="">NavMenu 导航菜单</MenuItem>
        <MenuItem Route="switch">Tabs 标签页</MenuItem>
    </SubMenu>
</Menu>

@functions {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
