<p>
    <BInput Value="123" ></BInput>
</p>

<p>
    <BInput Value="123" IsDisabled="true"></BInput>
</p>

<p>
    <BInput @bind-Value="a" IsClearable="true"></BInput>
</p>
@code{
    private string a;
}