@inherits BComponentBase
<p>
    <BInput Value="123" ></BInput>
</p>

<p>
    <BInput Value="123" IsDisabled="true"></BInput>
</p>

<p>
    <BInput @bind-Value="Abcde" IsClearable="true"></BInput>
</p>