<div class="el-step is-horizontal" style="flex-basis: 50%; margin-right: 0px;">
    <div class="el-step__head is-success">
        <div class="el-step__line" style="margin-right: 0px;">
            <i class="el-step__line-inner" style="transition-delay: 0ms; border-width: 1px; width: 100%;"></i>
        </div>
        <div class="el-step__icon is-text">
            <i class="el-step__icon-inner is-status el-icon-check"></i>
        </div>
    </div>
    <div class="el-step__main"><div class="el-step__title is-success">步骤 1</div><div class="el-step__description is-success"></div></div>
</div>