@inherits LayoutComponentBase
<BPopup></BPopup>
<BLayout EnableAlwaysRender="true" NorthHeight="40" SouthHeight="40" Style="background-color:#fff;" Fit="true">
    <North>
        <div style="height:40px;line-height:40px;text-align:center;"></div>
    </North>
    <West>
        <NavMenu></NavMenu>
    </West>
    <Center>
        <div style="overflow:auto;">
            @Body
        </div>
    </Center>
</BLayout>