.el-tabs--card > .el-tabs__header .el-tabs__item {
    float: left;
}

.el-card {
    position: relative;
}

.el-transfer {
    line-height: 0 !important;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
    width: 10px;
    height: 10px;
    border-radius: 13px;
    background-clip: padding-box;
}

*::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 10px rgba(0,0,0,0.3);
}


.blaz-layout {
    display: flex;
    flex-direction: column;
}

    .blaz-layout > .blaz-layout-container {
        display: flex;
        border: lightgray 1px solid;
    }

        .blaz-layout > .blaz-layout-container > .blaz-layout-card {
            min-height: 300px;
            display: flex;
        }

            .blaz-layout > .blaz-layout-container > .blaz-layout-card > .el-card {
                display: flex;
                flex-direction: column;
                flex: 1;
                margin-bottom: 0;
            }

                .blaz-layout > .blaz-layout-container > .blaz-layout-card > .el-card > .el-card__body {
                    overflow: auto;
                    flex: 1;
                    padding: 5px;
                }

        .blaz-layout > .blaz-layout-container > .blaz-layout-center {
            flex: 1;
            margin-left: 5px;
            display: flex;
            min-height: 0;
            flex-direction: column;
        }

            .blaz-layout > .blaz-layout-container > .blaz-layout-center > .el-tabs.el-tabs--card.el-tabs--top {
                flex: 1;
                display: flex;
                flex-direction: column;
            }

                .blaz-layout > .blaz-layout-container > .blaz-layout-center > .el-tabs.el-tabs--card.el-tabs--top > .el-tabs__header {
                    margin-bottom: 0;
                }

                .blaz-layout > .blaz-layout-container > .blaz-layout-center > .el-tabs.el-tabs--card.el-tabs--top > .el-tabs__content {
                    flex: 1;
                    border: 1px solid #EBEEF5;
                    border-top: none;
                    overflow: auto;
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                }

            .blaz-layout > .blaz-layout-container > .blaz-layout-center > .el-tabs.el-tabs--border-card.el-tabs--top {
                flex: 1;
                display: flex;
                flex-direction: column;
            }

                .blaz-layout > .blaz-layout-container > .blaz-layout-center > .el-tabs.el-tabs--border-card.el-tabs--top > .el-tabs__header {
                    margin-bottom: 0;
                }

                .blaz-layout > .blaz-layout-container > .blaz-layout-center > .el-tabs.el-tabs--border-card.el-tabs--top > .el-tabs__content {
                    flex: 1;
                    border: 1px solid #EBEEF5;
                    border-top: none;
                    overflow: auto;
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                }

        .blaz-layout > .blaz-layout-container > .blaz-layout-west {
            display: flex;
        }

            .blaz-layout > .blaz-layout-container > .blaz-layout-west > .el-menu {
                flex: 1;
                min-height: 0;
            }

        .blaz-layout > .blaz-layout-container > .blaz-layout-east {
            min-width: 100px;
            margin-left: 5px;
            display: flex;
        }

    .blaz-layout > .blaz-layout-south > .el-card {
        min-height: 50px;
        margin-top: 5px;
        display: flex;
        flex-direction: column;
    }


    .blaz-layout > .blaz-layout-north > .el-card {
        min-height: 50px;
        margin-bottom: 5px;
        display: flex;
        flex-direction: column;
    }

.el-table {
    display: flex;
    flex-direction: column;
}

.el-table__body-wrapper {
    flex: 1;
    display: flex;
}

.el-table__body, .el-table__footer, .el-table__header {
    flex: 1;
}

.el-table__header-wrapper {
    display: flex;
}
