@inherits BFieldComponentBase<string>

<div class="editormd pui-z-depth-3 pui-bg-white editormd-vertical" style="width: 100%;height:@(Height)px;">
    <textarea class="editormd-markdown-editor" @ref="textarea"></textarea>
    <div class="editormd-preview" style="display: block;height:@(Height-42)px;top:43px;" @ref="preview">
        <div class="markdown-body editormd-preview-container" previewcontainer="true" style="padding: 20px;">
            @previewHtml
        </div>
    </div>
    <div class="editormd-toolbar" style="        display: block;
        position: absolute;
        width: 100%;
        left: 0px;
">
        <div class="editormd-toolbar-container">
            <ul class="editormd-menu">
                @foreach (var item in icons.Keys)
                {
                    var description = icons[item];
                    <li>
                        <a href="javascript:;" title="@description.Title" unselectable="on" @onclick="e=>Handle(description)"><i class="@description.IconCls" name="@item.ToString()" unselectable="on">@description.Text</i></a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>