@inherits CardLoadingBase

<BButton OnClick="ShowLoading">显示Loading</BButton>
<BButton OnClick="CloseLoading">隐藏Loading</BButton>
<BCard @ref="card">
    <Header>测试Loading</Header>
    <Body>

    </Body>
</BCard>