.el-tabs--card > .el-tabs__header .el-tabs__item {
    float: left;
}
.v-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    background: #000;
}