<p>
    <Blazui.Component.Input.BInput inputValue="123"></Blazui.Component.Input.BInput>
</p>

<p>
    <Blazui.Component.Input.BInput IsDisabled="true"></Blazui.Component.Input.BInput>
</p>

<p>
    <Blazui.Component.Input.BInput IsClearable="true"></Blazui.Component.Input.BInput>
</p>