@using Blazui.Component.Input.Category
@{
    <div class="el-input el-input--suffix">
        <!---->
        <input type="text" autocomplete="off" placeholder="请输入内容" class="el-input__inner">
        <!----><span class="el-input__suffix">
            <span class="el-input__suffix-inner">
                <!---->
                <i class="el-input__icon el-icon-circle-close el-input__clear"></i><!----><!---->
            </span><!---->
        </span><!----><!---->
    </div>
}
@functions{


}