@inherits BLoadingBase
<div class="el-loading-mask" style="background-color: @Background;">
    <div class="el-loading-spinner">
        @if (string.IsNullOrWhiteSpace(IconClass))
        {
            <svg viewBox="25 25 50 50" class="circular">
                <circle cx="50" cy="50" r="20" fill="none" class="path"></circle>
            </svg><!---->
        }
        else
        {
            <i class="@IconClass"></i>
            <p class="el-loading-text">@Text</p>
        }
    </div>
</div>