@inherits BComponentBase
<li role="menuitem" tabindex="0"
    @onclick="OnClickAsync"
    @onmouseover="OnOver"
    @onmouseout="OnOut"
    @onkeydown="OnKeyDownAsync"
    class="el-menu-item @(IsActive?"is-active":"") @(Disabled ? "is-disabled" : "")"
    aria-disabled="@Disabled"
    style="background-color:@BackgroundColor;color:@TextColor; border-bottom-color:@BorderColor;">
    <i class="@(Icon ?? "el-icon-menu")"></i>
    @ChildContent
</li>
