@inherits ElementComponentBase
    <div class="blazor-block">
        <div class="blazor-block-body">
            @ChildContent
        </div>
        <div class="blazor-block-header">
            @Title
        </div>
    </div>