@typeparam TValue
@{
    var isDisabled = IsDisabled ? "is-disabled" : string.Empty;
}
<li class="el-select-dropdown__item @isDisabled" @onclick="SelectItemAsync">
    <span>
        @if (!string.IsNullOrWhiteSpace(Text))
        {
            @Text
        }
        else
        {
            @ChildContent
        }
    </span>
</li>