<div role="tree" class="el-tree">
    <div role="treeitem" tabindex="0" aria-disabled="" draggable="false" class="el-tree-node is-focusable">
        <div class="el-tree-node__content" style="padding-left: 0px;">
            <span class="el-tree-node__expand-icon el-icon-caret-right"></span>
            <span class="el-tree-node__label">一级 1</span>
        </div>
    </div>
    <div role="treeitem" tabindex="-1" aria-disabled="" draggable="false" class="el-tree-node is-focusable">
        <div class="el-tree-node__content" style="padding-left: 0px;">
            <span class="el-tree-node__expand-icon el-icon-caret-right"></span>
            <span class="el-tree-node__label">一级 2</span>
        </div>
    </div><div role="treeitem" tabindex="-1" aria-disabled="" draggable="false" class="el-tree-node is-focusable">
        <div class="el-tree-node__content" style="padding-left: 0px;">
            <span class="el-tree-node__expand-icon el-icon-caret-right"></span>
            <span class="el-tree-node__label">一级 3</span>
        </div>
    </div>
    <div class="el-tree__drop-indicator" style="display: none;"></div>
</div>