<div class="blz-layout">
    <BSimpleCard></BSimpleCard>
    <BSimpleCard Cls="blaz-lyayout-west" Title="左边"></BSimpleCard>
    <BSimpleCard Cls="blaz-lyayout-center" Title="中间"></BSimpleCard>
    <BSimpleCard Cls="blaz-lyayout-east" Title="右边"></BSimpleCard>
    <BSimpleCard></BSimpleCard>
</div>