@inherits BSimpleCardBase
@if (!string.IsNullOrWhiteSpace(Title))
{
    <BCard DataSource="@titles" Cls="c=>Cls" BodyCls="c=>BodyCls" Shadow="c=>Shadow">
        <Header>
            @context
        </Header>
        <Body>
            @ChildContent
        </Body>
    </BCard>
}
else
{
    <BCard DataSource="@titles" Cls="c=>Cls" BodyCls="c=>BodyCls"  Shadow="c=>Shadow">
        <Body>
            @ChildContent
        </Body>
    </BCard>
}