@using Microsoft.AspNetCore.Components.RenderTree;
<div role="group" aria-label="checkbox-group" class="el-checkbox-group">
    @ChildContent
</div>
@functions{

    [Parameter]
    private RenderFragment ChildContent { get; set; }


    protected async override Task OnInitAsync()
    {

    }
}