<label role="checkbox" aria-checked="true" class="el-checkbox @isChecked @disabled">
    <span aria-checked="mixed" class="el-checkbox__input @isChecked @disabled">
        <span class="el-checkbox__inner"></span>
        <input type="checkbox" aria-hidden="true" class="el-checkbox__original @disabled" value="" />
    </span>
    <span class="el-checkbox__label">
        @ChildContent
    </span>
</label>

@functions{
    private string isChecked;
    private string disabled;

    [Parameter]
    private RenderFragment ChildContent { get; set; }

    [Parameter]
    private bool IsChecked
    {
        get
        {
            return isChecked == "is-checked";
        }
        set
        {
            if (value)
            {
                isChecked = "is-checked";
            }
            else
            {
                isChecked = null;
            }
        }
    }

    [Parameter]
    private bool IsDisabled
    {
        get
        {
            return disabled == "is-disabled";
        }
        set
        {
            if (value)
            {
                disabled = "is-disabled";
            }
            else
            {
                disabled = null;
            }
        }
    }
}