<label role="checkbox" aria-checked="true" class="el-checkbox is-checked">
    <span aria-checked="mixed" class="el-checkbox__input is-checked">
        <span class="el-checkbox__inner"></span>
        <input type="checkbox" aria-hidden="true" class="el-checkbox__original" value="" />
    </span>
    <span class="el-checkbox__label">
        备选项<!---->
    </span>
</label>

@functions{

}