@using  Blazui.Component.EventArgs
@{
    var isChecked = string.Empty;
    var isIndeterminate = string.Empty;
    switch (Status)
    {
        case Status.UnChecked:
            isChecked = string.Empty;
            isIndeterminate = string.Empty;
            break;
        case Status.Checked:
            isChecked = "is-checked";
            isIndeterminate = string.Empty;
            break;
        case Status.Indeterminate:
            isChecked = string.Empty;
            isIndeterminate = "is-indeterminate";
            break;
    }
    <label role="checkbox" aria-checked="true" class="el-checkbox @isChecked @isDisabled">
        <span aria-checked="mixed" class="el-checkbox__input @isChecked @isDisabled @isIndeterminate">
            <span class="el-checkbox__inner"></span>
            <input type="checkbox" aria-hidden="true" onchange="@changeStatus" class="el-checkbox__original @isDisabled" value="" />
        </span>
        <span class="el-checkbox__label">
            @ChildContent
        </span>
    </label>
}

@functions{
    private string isDisabled;

    [Parameter]
    public object Tag { get; set; }

    [Parameter]
    public Status Status { get; set; }

    [Parameter]
    private EventCallback<UIChangeEventArgs> OnStatusChanged { get; set; }

    void changeStatus(UIChangeEventArgs uIMouseEvent)
    {
        if (IsDisabled)
        {
            return;
        }
        switch (Status)
        {
            case Status.UnChecked:
                Status = Status.Checked;
                break;
            case Status.Checked:
                Status = Status.UnChecked;
                break;
            case Status.Indeterminate:
                Status = Status.Checked;
                break;
        }
        var args = new ChangeEventArgs<BSimpleCheckBox>();
        args.Target = this;
        OnStatusChanged.InvokeAsync(args).GetAwaiter().GetResult();
    }

    [Parameter]
    private bool IsDisabled
    {
        get
        {
            return isDisabled == "is-disabled";
        }
        set
        {
            if (value)
            {
                isDisabled = "is-disabled";
            }
            else
            {
                isDisabled = null;
            }
        }
    }

    [Parameter]
    private RenderFragment ChildContent { get; set; }
}
