@inherits BCardBase<TModel>
@typeparam TModel
@foreach (var item in For)
{
    <div class="el-card box-card is-always-shadow">
        <div class="el-card__header">
            @Header(item)
        </div>
        <div class="el-card__body">
            @Body(item)
        </div>
    </div>
}