@inherits BTabsBase

<div class="el-tabs el-tabs--top">
    <div class="el-tabs__header is-top">
        <div class="el-tabs__nav-wrap is-top">
            <div class="el-tabs__nav-scroll">
                <div role="tablist" class="el-tabs__nav is-top" style="transform: translateX(0px);">
                    <div class="el-tabs__active-bar is-top" style="width: 56px; transform: translateX(0px);"></div>
                    <CascadingValue Value=this>
                        @ChildContent
                    </CascadingValue>
                </div>
            </div>
        </div>
    </div>
    <div class="el-tabs__content">
        @ActiveTab?.ChildContent
    </div>
</div>