@inherits BSimpleDropDownListBase
<div class="el-select">
    <div class="el-input el-input--suffix">
        <input type="text" readonly="readonly" autocomplete="off" placeholder="@Placeholder" class="el-input__inner" />
        <span class="el-input__suffix">
            <span class="el-input__suffix-inner">
                <i class="el-select__caret el-input__icon el-icon-arrow-up"></i>
            </span>
        </span>
    </div>
</div>
<div class="el-select-dropdown el-popper" style="min-width: 240px; transform-origin: center top 0px; z-index: 2003; display: none;">
    <div class="el-scrollbar" style="">
        <div class="el-select-dropdown__wrap el-scrollbar__wrap" style="margin-bottom: -17px; margin-right: -17px;">
            <ul class="el-scrollbar__view el-select-dropdown__list">
                <CascadingValue Value="@this">
                    @ChildContent
                </CascadingValue>
            </ul>
        </div>
        <div class="el-scrollbar__bar is-horizontal">
            <div class="el-scrollbar__thumb" style="transform: translateX(0%);"></div>
        </div>
        <div class="el-scrollbar__bar is-vertical">
            <div class="el-scrollbar__thumb" style="transform: translateY(0%);"></div>
        </div>
    </div>
    <div x-arrow="" class="popper__arrow" style="left: 35px;"></div>
</div>