@inherits BSimpleDropDownListSelectBase
<div class="el-select" onclick="@OnClick">
    <div class="el-input el-input--suffix">
        <input type="text" readonly="readonly" autocomplete="off" placeholder="@Placeholder" class="el-input__inner" />
        <span class="el-input__suffix">
            <span class="el-input__suffix-inner">
                <i class="el-select__caret el-input__icon el-icon-arrow-up"></i>
            </span>
        </span>
    </div>
</div>