@inherits LayoutComponentBase
<BPopup></BPopup>
<BLayout EnableAlwaysRender="true" NorthHeight="40" SouthHeight="40" Style="background-color:#fff;" Fit="true">
    <North>
        <div style="height:40px;line-height:40px;text-align:center;">该 Demo 演示站使用 WebAssembly 渲染，PWA 模式，<a href="https://blazorwasm.blazui.com" target="_blank">点击进入非 PWA 模式示例</a>，无法展示组件使用方法，如果要查看使用方法，请转至：<a href="http://blazui.com" target="_blank">服务端渲染示例</a>，或参考屏幕下方</div>
    </North>
    <West>
        <NavMenu></NavMenu>
    </West>
    <Center>
        <div style="overflow:auto;">
            @Body
        </div>
    </Center>
    <South>
        <div style="height:40px;line-height:40px;text-align:center;">
            欢迎加入：<a href="https://blazor.group" target="_blank">Blazor 社区</a>，<a href="https://jq.qq.com/?_wv=1027&k=5ti2PHr" target="_blank">群聊【.NET Blazor  大本营】</a>
        </div>
    </South>
</BLayout>