@inherits BComponentBase
<p>
    已选择：@Value
</p>
<BSelect @bind-Value="Value">
    <BSelectOption Value="1" Text="选项1"></BSelectOption>
    <BSelectOption Value="2" Text="选项2"></BSelectOption>
</BSelect>
