@inherits LayoutComponentBase
<BPopup></BPopup>
<BLayout EnableAlwaysRender="true" NorthHeight="40" SouthHeight="40" Style="background-color:#fff;" Fit="true">
    <North>
        <div style="height:40px;line-height:40px;text-align:center;">该 Demo 演示站使用 Server 渲染，如果要查看 WebAssembly 渲染请转至：<a href="https://pwawasm.blazui.com" target="_blank">WebAssembly 渲染 PWA 模式</a> 以及 <a href="https://blazorwasm.blazui.com" target="_blank">WebAssembly 渲染 非PWA 模式</a>，有任何疑问请加入：<a href="https://blazor.group" target="_blank">Blazor 社区</a>，<a href="https://jq.qq.com/?_wv=1027&k=5ti2PHr" target="_blank">群聊【.NET Blazor  大本营】</a></div>
    </North>
    <West>
        <NavMenu></NavMenu>
    </West>
    <Center>
        <div style="overflow:auto;">
            @Body
        </div>
    </Center>
</BLayout>